<div class="container-fluid">
  <div class="row" style="background: white;padding: 40px;">
   
      <h1 style="margin-left: 300px;">Editando Propiedad</h1><br>
        <%= render 'form', property: @property %> 

  </div>
</div>