

<div class="container">
	<div class="row"><br>
	   <div id="bootstrap-touch-slider" class="carousel bs-slider fade  control-round indicators-line" data-ride="carousel" data-pause="hover" data-interval="false" >

            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#bootstrap-touch-slider" data-slide-to="0" class="active"></li>
                <li data-target="#bootstrap-touch-slider" data-slide-to="1"></li>
                <li data-target="#bootstrap-touch-slider" data-slide-to="2"></li>
            </ol>

            <!-- Wrapper For Slides -->
            <div class="carousel-inner" role="listbox">

                <!-- Third Slide -->
                <div class="item active">

                    <!-- Slide Background -->
                    <img src="https://unsplash.it/1800/1600/?random" alt="Bootstrap Touch Slider"  class="slide-image"/>
                    <div class="bs-slider-overlay"></div>

                    <div class="container">
                        <div class="row">
                            <!-- Slide Text Layer -->
                            <div class="slide-text slide_style_left">
                                <h1 data-animation="animated zoomInRight">Bootstrap Touch Slider</h1>
                                <p data-animation="animated fadeInLeft">A jQuery Plugin For Bootstrap Carousel</p>
                                <a href="#" target="_blank" class="btn btn-default" data-animation="animated fadeInLeft">Button One</a>
                                <a href="#" target="_blank"  class="btn btn-primary" data-animation="animated fadeInRight">Button Tow</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End of Slide -->

                <!-- Second Slide -->
                <div class="item">

                    <!-- Slide Background -->
                    <img src="https://unsplash.it/1801/1601/?random" alt="Bootstrap Touch Slider"  class="slide-image"/>
                    <div class="bs-slider-overlay"></div>
                    <!-- Slide Text Layer -->
                    <div class="slide-text slide_style_center">
                        <h1 data-animation="animated flipInX">Bootstrap Touch Slider</h1>
                        <p data-animation="animated lightSpeedIn">This is slide 2</p>
                        <a href="#" target="_blank" class="btn btn-default" data-animation="animated fadeInUp">select one</a>
                        <a href="#" target="_blank"  class="btn btn-primary" data-animation="animated fadeInDown">select two</a>
                    </div>
                </div>
                <!-- End of Slide -->

                <!-- Third Slide -->
                <div class="item">

                    <!-- Slide Background -->
                    <img src="https://unsplash.it/1600/1200/?random" alt="Bootstrap Touch Slider"  class="slide-image"/>
                    <div class="bs-slider-overlay"></div>
                    <!-- Slide Text Layer -->
                    <div class="slide-text slide_style_right">
                        <h1 data-animation="animated zoomInLeft">Bootstrap Touch Slider</h1>
                        <p data-animation="animated fadeInRight">This is slide 3</p>
                        <a href="#" target="_blank" class="btn btn-default" data-animation="animated fadeInLeft">select one</a>
                        <a href="#" target="_blank" class="btn btn-primary" data-animation="animated fadeInRight">select two</a>
                    </div>
                </div>
                <!-- End of Slide -->


            </div><!-- End of Wrapper For Slides -->

            <!-- Left Control -->
            <a class="left carousel-control" href="#bootstrap-touch-slider" role="button" data-slide="prev">
                <span class="fa fa-angle-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>

            <!-- Right Control -->
            <a class="right carousel-control" href="#bootstrap-touch-slider" role="button" data-slide="next">
                <span class="fa fa-angle-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>

        </div> <!-- End  bootstrap-touch-slider Slider -->


        
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.touchswipe/1.6.18/jquery.touchSwipe.min.js"></script>
        

        <!-- Bootstrap bootstrap-touch-slider Slider Main JS File -->
        <script src="bootstrap-touch-slider.js"></script>
        
        <script type="text/javascript">
            $('#bootstrap-touch-slider').bsTouchSlider();
        </script>
    <div class="container-fluid" id="buscador" ">

    	<div class="col-md-4">
			<input type="text" name="" class="form form-control" placeholder="Buscador">
		</div>

		<div class="col-md-4">
			<input type="text" name="" class="form form-control" placeholder="Buscador">
		</div>

		<div class="col-md-4">
			<input type="text" name="" class="form form-control" placeholder="Buscador">
		</div>

	</div>
	</div>



	<div class="row">
		<div class="col-md-4">
		  <div class="panel panel-default">
			<h3 align="center">Panel heading without title</h3>
			  <div class="panel-body">
			    Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500, cuando un impresor (N. del T. persona que se dedica a la imprenta) desconocido usó una galería de textos y los mezcló de tal manera que logró hacer un libro de textos especimen. No sólo sobrevivió 500 años, sino que tambien ingresó como texto de relleno en documentos electrónicos, quedando esencialmente igual al original. Fue popularizado en los 60s con la creación de las hojas "Letraset", las cuales contenian pasajes de Lorem Ipsum, y más recientemente con software de autoedición, como por ejemplo Aldus PageMaker, el cual incluye versiones de Lorem Ipsum.<br><br>
			    <button class="btn1">Ver Mas Informacion</button>
			  </div>
		  </div>
		</div>

		<div class="col-md-4">
		  <div class="panel panel-default">
			<h3 align="center">Panel heading without title</h3>
			  <div class="panel-body">
			    Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500, cuando un impresor (N. del T. persona que se dedica a la imprenta) desconocido usó una galería de textos y los mezcló de tal manera que logró hacer un libro de textos especimen. No sólo sobrevivió 500 años, sino que tambien ingresó como texto de relleno en documentos electrónicos, quedando esencialmente igual al original. Fue popularizado en los 60s con la creación de las hojas "Letraset", las cuales contenian pasajes de Lorem Ipsum, y más recientemente con software de autoedición, como por ejemplo Aldus PageMaker, el cual incluye versiones de Lorem Ipsum.<br><br>
			    <button class="btn1">Ver Mas Informacion</button>
			  </div>
		  </div>
		</div>

		<div class="col-md-4">
		  <div class="panel panel-default">
			<h3 align="center">Panel heading without title</h3>
			  <div class="panel-body">
			    Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500, cuando un impresor (N. del T. persona que se dedica a la imprenta) desconocido usó una galería de textos y los mezcló de tal manera que logró hacer un libro de textos especimen. No sólo sobrevivió 500 años, sino que tambien ingresó como texto de relleno en documentos electrónicos, quedando esencialmente igual al original. Fue popularizado en los 60s con la creación de las hojas "Letraset", las cuales contenian pasajes de Lorem Ipsum, y más recientemente con software de autoedición, como por ejemplo Aldus PageMaker, el cual incluye versiones de Lorem Ipsum.<br><br>
			    <button class="btn1">Ver Mas Informacion</button>
			  </div>
		  </div>
		</div>
	  </div>

	  <hr>

	  <div class="container-fluid" style="padding: 0px;">

	  	<div class="col-md-6" style="padding: 0px;">
	  		<div class="carousel"
			  data-flickity='{ "autoPlay": true}'>
			  <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/82/orange-tree.jpg" alt="orange tree" />
			  <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/82/submerged.jpg" alt="submerged" />
			  <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/82/look-out.jpg" alt="look-out" />
			  <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/82/one-world-trade.jpg" alt="One World Trade" />
			  <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/82/drizzle.jpg" alt="drizzle" />
			  <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/82/cat-nose.jpg" alt="cat nose" />
			</div>
            <br>
	  	</div>

	  	<div class="col-md-6" style="padding-right: 0px;">
		  <div class="panel panel-default">
			  <div class="panel-body">
			    Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500, cuando un impresor (N. del T. persona que se dedica a la imprenta) desconocido usó una galería de textos y los mezcló de tal manera que logró hacer un libro de textos especimen. No sólo sobrevivió 500 años, sino que tambien ingresó 
			    Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivosró hacer un libro de textos especimen. No sólo sobrevivió 500 años, sino que tambien ingresó  texto de relleno de las imprentas y archivosró hacer un libro de textos especimen. No sólo sobrevLorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500, cuando un impresor (N. del T. persona que se dedica a la imprenta) desconocido usó una galería de textos y los mezcló de tal manera que logró hacer un libro de textos especimen<br><br>
			    <button class="btn1">Ver Mas Informacion</button>
			  </div>
		  </div>
		</div>
	  </div>

	  <hr>

	  <div class="container-fluid" style="padding: 0px;">
	  	<div class="col-md-6" style="padding-left: 0px;">
		  <div class="panel panel-default">
			  <div class="panel-body">
			    Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500, cuando un impresor (N. del T. persona que se dedica a la imprenta) desconocido usó una galería de textos y los mezcló de tal manera que logró hacer un libro de textos especimen. No sólo sobrevivió 500 años, sino que tambien ingresó 
			    Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivosró hacer un libro de textos especimen. No sólo sobrevivió 500 años, sino que tambien ingresó  texto de relleno de las imprentas y archivosró hacer un libro de textos especimen. No sólo sobrevLorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500, cuando un impresor (N. del T. persona que se dedica a la imprenta) desconocido usó una galería de textos y los mezcló de tal manera que logró hacer un libro de textos especimen<br><br>
			    <button class="btn1">Ver Mas Informacion</button>
			  </div>
		  </div>
		</div>
	  	<div class="col-md-6" style="padding: 0px;">
	  		<div class="carousel"
			  data-flickity='{ "imagesLoaded": true, "percentPosition": false }'>
			  <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/82/orange-tree.jpg" alt="orange tree" />
			  <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/82/submerged.jpg" alt="submerged" />
			  <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/82/look-out.jpg" alt="look-out" />
			  <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/82/one-world-trade.jpg" alt="One World Trade" />
			  <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/82/drizzle.jpg" alt="drizzle" />
			  <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/82/cat-nose.jpg" alt="cat nose" />
			</div>
	  	</div>
	  </div>
        <br>
	  <hr>

	</div>
</div>

<style>
    @import url(//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css);
</style>