

<div class="container">
	<div class="row"><br>

		<h4>asdasdasdashgdfasfdfsd</h4>

	    <div class="container-fluid" id="buscador">

	    	<div class="col-md-4">
				<input type="text" name="" class="form form-control" placeholder="Buscador">
			</div>

			<div class="col-md-4">
				<input type="text" name="" class="form form-control" placeholder="Buscador">
			</div>

			<div class="col-md-4">
				<input type="text" name="" class="form form-control" placeholder="Buscador">
			</div>

		</div>
	</div>



	<div class="row">
		<div class="col-md-4">
		  <div class="panel panel-default">
			<h3 align="center">Panel heading without title</h3>
			  <div class="panel-body">
			    Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500, cuando un impresor (N. del T. persona que se dedica a la imprenta) desconocido usó una galería de textos y los mezcló de tal manera que logró hacer un libro de textos especimen. No sólo sobrevivió 500 años, sino que tambien ingresó como texto de relleno en documentos electrónicos, quedando esencialmente igual al original. Fue popularizado en los 60s con la creación de las hojas "Letraset", las cuales contenian pasajes de Lorem Ipsum, y más recientemente con software de autoedición, como por ejemplo Aldus PageMaker, el cual incluye versiones de Lorem Ipsum.<br><br>
			    <button class="btn1">Ver Mas Informacion</button>
			  </div>
		  </div>
		</div>

		<div class="col-md-4">
		  <div class="panel panel-default">
			<h3 align="center">Panel heading without title</h3>
			  <div class="panel-body">
			    Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500, cuando un impresor (N. del T. persona que se dedica a la imprenta) desconocido usó una galería de textos y los mezcló de tal manera que logró hacer un libro de textos especimen. No sólo sobrevivió 500 años, sino que tambien ingresó como texto de relleno en documentos electrónicos, quedando esencialmente igual al original. Fue popularizado en los 60s con la creación de las hojas "Letraset", las cuales contenian pasajes de Lorem Ipsum, y más recientemente con software de autoedición, como por ejemplo Aldus PageMaker, el cual incluye versiones de Lorem Ipsum.<br><br>
			    <button class="btn1">Ver Mas Informacion</button>
			  </div>
		  </div>
		</div>

		<div class="col-md-4">
		  <div class="panel panel-default">
			<h3 align="center">Panel heading without title</h3>
			  <div class="panel-body">
			    Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500, cuando un impresor (N. del T. persona que se dedica a la imprenta) desconocido usó una galería de textos y los mezcló de tal manera que logró hacer un libro de textos especimen. No sólo sobrevivió 500 años, sino que tambien ingresó como texto de relleno en documentos electrónicos, quedando esencialmente igual al original. Fue popularizado en los 60s con la creación de las hojas "Letraset", las cuales contenian pasajes de Lorem Ipsum, y más recientemente con software de autoedición, como por ejemplo Aldus PageMaker, el cual incluye versiones de Lorem Ipsum.<br><br>
			    <button class="btn1">Ver Mas Informacion</button>
			  </div>
		  </div>
		</div>
	  </div>

	  <hr>

	  <div class="container-fluid" style="padding: 0px;">

	  	<div class="col-md-6" style="padding: 0px;">
	  		<div class="carousel"
			  data-flickity='{ "autoPlay": true}'>
			  <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/82/orange-tree.jpg" alt="orange tree" />
			  <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/82/submerged.jpg" alt="submerged" />
			  <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/82/look-out.jpg" alt="look-out" />
			  <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/82/one-world-trade.jpg" alt="One World Trade" />
			  <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/82/drizzle.jpg" alt="drizzle" />
			  <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/82/cat-nose.jpg" alt="cat nose" />
			</div>
            <br>
	  	</div>

	  	<div class="col-md-6" style="padding-right: 0px;">
		  <div class="panel panel-default">
			  <div class="panel-body">
			    Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500, cuando un impresor (N. del T. persona que se dedica a la imprenta) desconocido usó una galería de textos y los mezcló de tal manera que logró hacer un libro de textos especimen. No sólo sobrevivió 500 años, sino que tambien ingresó 
			    Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivosró hacer un libro de textos especimen. No sólo sobrevivió 500 años, sino que tambien ingresó  texto de relleno de las imprentas y archivosró hacer un libro de textos especimen. No sólo sobrevLorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sidor un libro de textos especimen<br><br>
			    <button class="btn1">Ver Mas Informacion</button>
			  </div>
		  </div>
		</div>
	  </div>

	  <hr>

	  <div class="container-fluid" style="padding: 0px;">
	  	<div class="col-md-6" style="padding-left: 0px;">
		  <div class="panel panel-default">
			  <div class="panel-body">
			    Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500, cuando un impresor (N. del T. persona que se dedica a la imprenta) desconocido usó una galería de textos y los mezcló de tal manera que logró hacer un libro de textos especimen. No sólo sobrevivió 500 años, sino que tambien ingresó 
			    Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivosró hacer un libro de textos especimen. No sólo sobrevivió 500 años, sino que tambien ingresó  texto de relleno de las imprentas y archivosró hacer un libro de textos especimen. No sólo sobrevLorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sidor un libro de textos especimen<br><br>
			    <button class="btn1">Ver Mas Informacion</button>
			  </div>
		  </div>
		</div>
	  	<div class="col-md-6" style="padding: 0px;">
	  		<div class="carousel"
			  data-flickity='{ "imagesLoaded": true, "percentPosition": false }'>
			  <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/82/orange-tree.jpg" alt="orange tree" />
			  <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/82/submerged.jpg" alt="submerged" />
			  <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/82/look-out.jpg" alt="look-out" />
			  <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/82/one-world-trade.jpg" alt="One World Trade" />
			  <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/82/drizzle.jpg" alt="drizzle" />
			  <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/82/cat-nose.jpg" alt="cat nose" />
			</div>
	  	</div>
	  </div>
        <br>
	  <hr>

	</div>
</div>

<style>
    @import url(//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css);
</style>