<div class="row" style="background: #fff; border-radius: 4px;">
 <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="col-md-12">
      <div class="row mb-3">
         <div class="col-md-10 col-md-offset-1">
            <h1 align="center">Propiedades Para Intercambio </h1><br>
             <% @properties.each do |property| %>
               
                   <%=render 'property' , property: property  %>
                <% end -%>
              </div>
            <div class="body">
          <div id="real_time_chart" class="dashboard-flot-chart"></div>
        </div>
      </div>
    </div>
</div>
<div class="col-md-offset-1">
    <%= will_paginate @properties, renderer: BootstrapPagination::Rails, previous_label: "Anterior", next_label: "Siguiente", inner_window: 1, outer_window: 0 %>
</div>
    </section>
<br><br>

</body>

</html>
