/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require sweetalert2
 *= require_tree .
 *= require_self
 */
/*--------------------------- MENU -------------------------------------------------------------*/

@import url(http://fonts.googleapis.com/css?family=Roboto);

/* Ace Responsive Menu
----------------------------------------*/
a {
    text-shadow: none;
    color: #0d638f;
}
ul {
    margin: 0px;
    padding: 0px;
}
.ace-responsive-menu {
    list-style: none;
    margin: 0;
    padding: 0;
    background: #333;  
    float:left;
    width:100%;
    font-family: 'Roboto', sans-serif;
    border-bottom: 3px solid #0e67c3;        
}
.ace-responsive-menu li{
    list-style: none;
}
.ace-responsive-menu li ul {
    display:none;
}
.ace-responsive-menu > li {
    display: block;
    margin: 0;
    padding: 0;
    border: 0px;
    float: left;
}
.ace-responsive-menu li a {
        color:#c0c0c0;
}
.ace-responsive-menu > li > a {
    display: block;
    position: relative;
    margin: 0;
    border: 0px;
    padding: 18px 20px 18px 12px;
    text-decoration: none;
    font-size: 15px;
    font-weight: 300;
    color: #c0c0c0;
}
.ace-responsive-menu li a i {
    padding-right: 5px;
    color: #0e67c3;
}
.ace-responsive-menu > li > a i {
    font-size: 16px;
    text-shadow: none;
    color: #0e67c3;
}
.ace-responsive-menu li ul.sub-menu li a i {
    padding-right: 10px;
}
.ace-responsive-menu li.menu-active > a {
    background: #272727 !important;
    color:#fff;
}
.ace-responsive-menu li .menu-active {
    position: relative;
}
.ace-responsive-menu > li > a > .arrow:before {  
    margin-left: 15px;
    display: inline;
    font-size: 16px;
    font-family: FontAwesome;
    height: auto;
    content: "\f107";
    font-weight: 300;
    text-shadow: none;
    width: 10px;
    display: inline-block;
}
.ace-responsive-menu li ul.sub-menu li > a > .arrow:before {
    content: "\f105" !important;
}
.ace-responsive-menu > li > ul.sub-menu {
    display: none;
    list-style: none;
    clear: both;
    margin: 0;
    position: absolute;
}
.ace-responsive-menu li ul.sub-menu {
    background: #333;
}
.ace-responsive-menu li ul.sub-menu > li {
    width: 185px;
}
.ace-responsive-menu li ul.sub-menu li a {
    display: block;
    margin: 0px 0px;
    padding: 12px 20px 12px 15px;
    text-decoration: none;
    font-size: 13px;
    font-weight: normal;
    background: none;
}
.ace-responsive-menu > li > ul.sub-menu > li {
    position: relative;
}
.ace-responsive-menu > li > ul.sub-menu > li ul.sub-menu {
    position: absolute;
    left: 185px;
    top: 0px;
    display: none;
    list-style: none;
}
.ace-responsive-menu > li > ul.sub-menu > li ul.sub-menu > li ul.sub-menu {
    position: absolute;
    left: 185px;
    top: 0px;
    display: none;
    list-style: none;
}
.ace-responsive-menu > li > ul.sub-menu li > a > .arrow:before {
    float: right;
    margin-top: 1px;
    margin-right: 0px;
    display: inline;
    font-size: 16px;
    font-family: FontAwesome;
    height: auto;
    content: "\f104";
    font-weight: 300;
    text-shadow: none;
}

/* Menu Toggle Btn
----------------------------------------*/
.menu-toggle {
    display: none;
    float: left;
    width: 100%;
    background: #333;
}
.menu-toggle h3 {
    float: left;
    color: #FFF;
    padding: 0px 10px;
    font-weight: 600;
    font-size: 16px;
}
.menu-toggle .icon-bar {
    display: block !important;
    width: 18px;
    height: 2px;
    background-color: #F5F5F5 !important;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
    -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
    margin: 3px;
}
.menu-toggle .icon-bar:hover {
    background-color: #F5F5F5 !important;
}
.menu-toggle #menu-btn {
    float: right;
    background: #202020;
    border: 1px solid #0C0C0C;
    padding: 8px;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px;
}
.hide-menu {
    display: none;
}


/* Accordion Menu Styles
----------------------------------------*/

ul[data-menu-style="accordion"] {
    width: 250px;
}
ul[data-menu-style="accordion"] > li {    
    display: block;
    margin: 0;
    padding: 0;
    border: 0px;
    float: none !important;
}
ul[data-menu-style="accordion"] > li:first-child {
    border-top: 2px solid #FD5025;
}
ul[data-menu-style="accordion"] li ul.sub-menu > li {
    width: 100%;
}
ul[data-menu-style="accordion"] > li > a > .arrow:before {
    float: right;
    content: "\f105";
}
ul[data-menu-style="accordion"] li.menu-active > a > .arrow:before {
    content: "\f107" !important;
}
ul[data-menu-style="accordion"] > li > ul.sub-menu {
    position: static;
}
ul[data-menu-style="accordion"] > li > a i {
    padding-right: 10px;
    color: #FF5737;
}
ul[data-menu-style="accordion"] > li > ul.sub-menu > li ul.sub-menu {
    position: static;
}
ul[data-menu-style="accordion"] > li > ul.sub-menu > li ul.sub-menu > li ul.sub-menu {
    position: static;
}
ul[data-menu-style="accordion"] > li {
    border-bottom: 1px solid #242424;
}
ul[data-menu-style="accordion"] li a:hover {
    background: #272727 !important;
}
ul[data-menu-style="accordion"] ul.sub-menu li.menu-active > a > .arrow:before {
    content: "\f107" !important;
}

/* Vertical Menu Styles
----------------------------------------*/

ul[data-menu-style="vertical"] {
    width: 200px;
}
ul[data-menu-style="vertical"] > li {
    float: none;
}
ul[data-menu-style="vertical"] > li:first-child {
    border-top: 2px solid #FD5025;
}
ul[data-menu-style="vertical"] li ul.sub-menu > li {
    width: 100%;
}
ul[data-menu-style="vertical"] > li > a > .arrow:before {
    float: right;
    content: "\f105";
}
ul[data-menu-style="vertical"] > li.menu-active {
position:relative;
}
ul[data-menu-style="vertical"] > li > ul.sub-menu {
    position: absolute;
    left:200px;
    top:0px;
    width:200px;
}
ul[data-menu-style="vertical"] > li > a i {
    padding-right: 10px;
    color: #FF5737;
}
ul[data-menu-style="vertical"]> li > ul.sub-menu > li ul.sub-menu {
    position: absolute;
    width:200px;
    left: 200px;
}
ul[data-menu-style="vertical"] > li > ul.sub-menu > li ul.sub-menu > li ul.sub-menu {
    position: absolute;
    width:200px;
    left: 200px;
}
ul[data-menu-style="vertical"] > li {
    border-bottom: 1px solid #242424;
}
ul[data-menu-style="vertical"] li a:hover {
    background: #272727 !important;
}

/* Responsive Menu Styles
----------------------------------------*/
/*Note: change the max-width asper your requirment and change the same in aceResponsiveMenu({resizeWidth: "768" }) function*/

@media screen and (max-width: 768px) {
    .demo {
        width:96%;
        padding:2%;
    }
    ul[data-menu-style="vertical"] , ul[data-menu-style="accordion"],
    ul[data-menu-style="vertical"] li ul.sub-menu {
        width: 100% !important;
    } 
    .ace-responsive-menu {
        float: left;
        width:100%;
    }
    .ace-responsive-menu > li {
        border-bottom: 1px solid #242424;
       float: none;
    }   
    .ace-responsive-menu li a:hover {
        background: #272727 !important;
    }
    .ace-responsive-menu > li:first-child {
        border-top: 2px solid #FD5025;
    }    
    .ace-responsive-menu > li > a i {
        padding-right: 10px;
        color: #FF5737;
    }
    .ace-responsive-menu > li > a > .arrow:before {
        float: right;
        content: "\f105";
    }
    li.menu-active > a > .arrow:before {
        content: "\f107" !important;
    }
    .ace-responsive-menu li ul.sub-menu > li {
        width: 100%;
    }
    .ace-responsive-menu li ul.sub-menu li ul.sub-menu li a
        {
        padding-left: 30px;
    }  
    .ace-responsive-menu li ul.sub-menu li ul.sub-menu li ul.sub-menu li a 
       {
        padding-left: 50px;
    }  
    .ace-responsive-menu > li > ul.sub-menu {
        position: static;
    }
    .ace-responsive-menu > li > ul.sub-menu > li ul.sub-menu {
        position: static;
    }
    .ace-responsive-menu > li > ul.sub-menu > li ul.sub-menu > li ul.sub-menu {
        position: static;
    }
    .ace-responsive-menu li ul.sub-menu li.menu-active > a > .arrow:before {
        content: "\f107" !important;
    }
}
/*--------------------------- MENU -------------------------------------------------------------*/

/*--------------------------- foooter -------------------------------------------------------------*/

@import url(https://fonts.googleapis.com/css?family=Alegreya+Sans:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,800,800italic,900,900italic);
@import url(//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css);

* { box-sizing: border-box; }

body { font-family: sans-serif; }

.carousel {
  background: #EEE;
}

.carousel img {
  display: block;
  height: 306px;
}

@media screen and ( min-width: 768px ) {
  .carousel img {
    height: 306px;
  }
}

body {
  font-family: 'Alegreya Sans', sans-serif;
}

ul, ol {
    padding: 0;
    margin: 0;
}



li {
    list-style: none;    
}

.btn, .form-control {
    border-radius: 2px;
    box-shadow: none !important;
}

/*FOOTER 1*/
.footer1 a {
    color: #DDD;
}

.footer1 a:hover,
.footer1 a:focus,
.footer1 a:active {
    color: #FFF;
}

.footer1 .footer {
    background-color: #2E3436;
    padding: 35px 0;
    margin-top: 5em;
}

.footer1 .footer .footer-desc p {
    color: #DDD;
	margin: 15px 0 8px;
}

.footer1 .footer .social {
    margin: 0 auto;
    display: table;
}

.footer1 .footer .social li {
    float: left;
}

.footer1 .footer .social li a {
	display: block;
    font-size: 1em;
    color: #DDD;
    width: 30px;
    height: 30px;
    line-height: 32px;
    text-align: center;
    background-color: #222728;
    border-radius: 2px;
    margin: 15px 4px
}

.footer1 .footer .social li a:hover {
    background-color: #3A4144;
}

.footer1 .footer .input-group {
    margin: 15px 0;
}

.footer1 .footer .form-control {
    border-radius: 2px 0 0 2px;
    background-color: #585C5D;
    border-color: #585C5D;
    color: #DDD;
    font-size: 15px;
}

.footer1 .footer .form-control:hover,
.footer1 .footer .form-control:focus {
    border: 1px solid #222728;
    background-color: #222728;
}

.footer1 .footer .input-group-addon {
    border-radius: 0 2px 2px 0;
    background-color: #F7931D;
    color: #FFF;
    border-color: #F7931D;
    font-size: 15px;
}

.footer1 .footer-bottom {
    background-color: #222728;
    padding: 15px 0;
    color: #DDD;
    font-size: 13px;
}

.footer1 .footer-bottom ul li {
    display: inline-block;
}

.footer1 .footer-bottom ul li a {
    display: block;
    padding-left: 8px;
}

.footer1 .footer-bottom ul li a:after {
    content: "-";
    padding-left: 8px;
}

.footer1 .footer-bottom ul li:last-child a:after {
    content: "";
}

@media (max-width: 550px) {
	.footer1 .footer-bottom .pull-left,
	.footer1 .footer-bottom .pull-right {
		float: none !important;
		width: 100%;
		padding: 10px;
		text-align: center;
	}
}
/*FOOTER 2*/
.footer2 a {
    color: #DDD;
}

.footer2 a:hover,
.footer2 a:focus,
.footer2 a:active {
    color: #FFF;
}

.footer2 .footer {
    background-color: #2E3436;
    padding: 35px 0;
    margin-top: 5em;
}

.footer2 .footer nav h3 {
    font-size: 18px;
    color: #FFF;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0 0 1em 0;
}

.footer2 .footer nav h3 span {
    font-weight: 300;
    text-transform: capitalize;
}

.footer2 .footer nav ul li a {
    text-decoration: none;
    display: block;
    padding: 4px 0;
    font-size: 13px;
}

.footer2 .footer .input-group {
    margin: 15px 0;
}

.footer2 .footer .form-control {
    border-radius: 2px 0 0 2px;
    background-color: #585C5D;
    border-color: #585C5D;
    color: #DDD;
}

.footer2 .footer .form-control:hover,
.footer2 .footer .form-control:focus {
    border: 1px solid #222728;
    background-color: #222728;
}

.footer2 .footer .input-group-addon {
    border-radius: 0 2px 2px 0;
    background-color: #F7931D;
    color: #FFF;
    border-color: #F7931D;
}

.footer2 .footer .social {
    margin: 0 auto;
    display: table;
}

.footer2 .footer .social li {
    float: left;
}

.footer2 .footer .social li a {
    display: block;
    font-size: 1em;
    color: #DDD;
    width: 30px;
    height: 30px;
    line-height: 32px;
    padding: 0;
    text-align: center;
    background-color: #222728;
    border-radius: 2px;
    margin: 5px 4px
}

.footer2 .footer .social li a:hover {
    background-color: #3A4144;
}

.footer2 .footer-bottom {
    background-color: #222728;
    padding: 15px 0;
    color: #DDD;
    font-size: 13px;
}

.footer2 .footer-bottom ul li {
    display: inline-block;
}

.footer2 .footer-bottom ul li a {
    display: block;
    padding-left: 8px;
}

.footer2 .footer-bottom ul li a:after {
    content: "-";
    padding-left: 8px;
}

.footer2 .footer-bottom ul li:last-child a:after {
    content: "";
}

@media (max-width: 550px) {
    .footer2 .footer-bottom .pull-left,
	.footer2 .footer-bottom .pull-right {
		float: none !important;
		width: 100%;
		padding: 10px;
		text-align: center;
	}
}

/*--------------------------- foooter -------------------------------------------------------------*/


.flickity-prev-next-button.previous{
    display: none;
}

.flickity-prev-next-button.next{
    display: none;
}


#buscador{
    margin-bottom: 5px;
    background: #dddddd;
    padding: 20px 20px;

}


.btn1{
    padding: 10px 10px;
    background: #0e67c3;
    color: #fff;
    border-radius: 12px;
    border-color: #0e67c3;
    border: none;
}

.btn1:hover{
   background-color: #8ac53f;
  -webkit-transition-duration: 0.8s;
  transition-duration: 0.9s;
}

.btn2{
    background: #0e67c3;
    color: #fff;
    border-color: #0e67c3;
    border: none;
    padding: 5px;
    border-radius: 4px;
}

.btn2:hover{
   color: #fff;
   text-decoration: none;
}




.pagination{
    margin-left: 279px !important;
}

.pagination>.active>span{
    background: #d8622b !important;
    border-color: #d8622b !important;
}

.pagination>li>a{
    color: black !important;
}

.card:hover{
    box-shadow: 0px 0px 0px gray , 0px 2px 10px gray;
}
