






<div class="row" style="background: #fff; border-radius: 4px;">
 <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
     <div class="col-md-5">
      <div class="row mb-3">
         <div class="col-md-12">
         
            <h3 align="center">Mi propiedad para el Brunk</h3><br>
         
                     <%=render 'property_card' , property: @property  %>
                
   
              </div>
          
      </div>
    </div>

    <div class="col-md-7">
      <div class="row mb-3">
         <div class="col-md-12">
            <h3 align="center">Propiedades Para Intercambio </h3><br>
             <% @properties.each do |property| %>
                 <%=render 'property_cambio' ,property: property ,property1: @property   %>
                <br>
                <% end -%>
              </div>
           
      </div>
    </div>
  </div>

</div>





<style>


  .alert-success, .alert-danger
{
  font-size: 20px;
  padding: 5px;
  text-align: center;
}

  .info small
  {
    
    padding: 4px;
    margin-right: 10px;
  }
 .card
 {
  margin-bottom: 0px !important;
 } 
</style>
